{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<h1 class="text-center p-5">Personal Profile</h1>

<div class="row d-flex justify-content-center p-5">
    {% if user_exist == false %}
    {{ render_form(form) }}
    {% else %}
    <form class="edit_form" method="POST" action="{{ url_for('edit_user') }}">

        <!--{{ render_form(form) }}-->
        
        {{ form.csrf_token }}
        <br>
        {{ form.f_name.label(class="form-label") }}
        <br>
        {{ form.f_name(value=existing_profile.f_name, class_="form-control") }}
        <br>
        {{ form.l_name.label(class="form-label") }}
        <br>
        {{ form.l_name(value=existing_profile.l_name, class_="form-control") }}
        <br>
        {{ form.role.label(class="form-label") }}
        <br>
        {{ form.role(value=existing_profile.role, class_="form-control") }}
        <br>
        {{ form.about.label(class="form-label") }}
        <br>
        {{ form.about(value=existing_profile.about, class_="form-control") }}
        
        <br>
        {{ form.submit(class="btn btn-primary") }}

    </form>
    {% endif %}
</div>

{% endblock %}