{% extends "base.html" %} {% block content %}

<h1 class="text-center m-3">Account Setting</h1>

<div class="container w-75 flex-column border rounded p-3">
    <h3>User</h3>
    <div>
        <p>User ID: <span class="fw-bold">{{ current_user.id }}</span></p>
    </div>
    <div class="row">
        <p>Email: <span class="fw-bold">{{ current_user.email }}</span></p>
    </div>
    
    <div class="row">
        <p>First Name: <span class="fw-bold">{{ existing_profile.f_name }}</span></p>
    </div>
    <div class="row">
        <p>Last Name: <span class="fw-bold">{{ existing_profile.l_name }}</span></p>
    </div>
    <div class="row">
        <p>Role in {{ current_user.company }}: <span class="fw-bold">{{ existing_profile.role }}</span></p>
    </div>
    <div class="row">
        <p>About: <span class="fw-bold">{{ existing_profile.about }}</span></p>
    </div>
    
    <a href="{{ url_for('edit_user') }}" class="text-decoration-none">
        Edit Personal Profile
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"></path>
        </svg>
    </a>

</div>
<br>

<div class="container w-75 flex-column border rounded p-3">
    <h3>Company</h3>
    <div class="d-flex justify-content-start gap-2">
        <p>Company: <span class="fw-bold">{{ current_user.company }}</span></p>
    </div>
    <p>
    <a href="{{ url_for('edit_company') }}" class="text-decoration-none">
        Edit Company Profile
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
        <   path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"></path>
        </svg>
    </a>
    </p>
    <p>
    <a href="{{ url_for('company', comp_id=comp.id, name=comp.name_slug) }}" class="text-decoration-none text-info">
        Company Page
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
            <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"></path>
        </svg>
    </a>
    </p>
</div>
<br>

<div class="container w-75 flex-column border rounded p-3">
    <h3>Job listings ({{ comp.num_of_jobs + comp.num_of_hidden_jobs }})</h3>
    <div class="row">
        <table class="table table-striped m-3 w-75">
            <thead>
                <tr>
                    <th>Job Role</th>
                    <th>Status</th>
                    <th>Date Published</th>
                </tr>
            </thead>
            <tbody>
                {% if comp.num_of_jobs > 0 %}
                    {% for job in jobs %}
                        <tr>
                            <td>
                                <a class="text-decoration-none link-dark" href="{{ url_for('job', comp_id=comp.id, name=comp.name_slug, job_id=job.id) }}">{{ job.role }}</a>
                            </td>
                            <td>{{ "Active" if job.active else "Archived" }}</td>
                            <td>{{ job.time_publish.strftime('%d-%m-%Y') if job.active else "" }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Empty</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- ## Old List Structure
        <div class="row">
        <ul class="list-group m-3 w-75">
        {% if comp.num_of_jobs > 0 %}
        {% for job in jobs %}
        <li class="list-group-item p-3">
            <h6>
                <a class="text-decoration-none link-dark" href="{{ url_for('job', comp_id=comp.id, name=comp.name_slug, job_id=job.id) }}">{{job.role}}</a>
            </h6>
        </li>
        {% endfor %}
        {% else %}
            <li class="list-group-item">Empty</li>
        {% endif %}
        </ul>
    </div>-->
    {% if comp.num_of_jobs > 0 %}
    <a href="{{ url_for('manage_jobs') }}" class="text-decoration-none">
        Manage Jobs
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"></path>
        </svg>
    </a>
    {% endif %}
    <br>
    <a href="{{ url_for('post_job') }}" class="text-decoration-none">
        Post a New Job
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"></path>
        </svg>
    </a>
</div>
<br>
<div class="container w-75 flex-column border rounded p-3">
    <a href="{{ url_for('delete_account') }}" class="text-decoration-none text-danger">
        Delete This Account
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
</svg>
      </a>
</div>

{% endblock %}