{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<section id="register">
    <div class="container">
    
        <div class="row d-flex justify-content-center mb-3">
            <div class="col-lg-6 col-md-10 col-sm-12">
                <h2 class="text-center p-5">Register</h2>
            </div>
        </div>
    
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-lg-6 col-md-10 col-sm-12">
    
                <form method="POST" action="{{ url_for('register') }}"> 
                    {{ form.csrf_token }}
                    {% if error != None %}
                        <p class="text-center text-danger">{{ error }}</p>
                    {% endif %}

                    <!--Email-->
                    <div class="row d-flex justify-content-center">
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            {{ form.email(class_="form-control", placeholder="Email") }}
                        </div>
                    </div>

                    <!--Password-->
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4">
                            {{ form.password(class_="form-control", placeholder="Password") }}
                        </div>
                    </div>

                    <!--Confirm-->
                    <div class="row d-flex justify-content-center">
                        <div class="mb-4">
                            {{ form.confirm(class_="form-control", placeholder="Confirm password") }}
                        </div>
                    </div>

                    <!--Comapny-->
                    <div class="row d-flex justify-content-center">
                        <div class="input-group mb-4">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                                    <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
                                </svg>
                            </span>
                            {{ form.company(class_="form-control", placeholder="Company / Organization") }}
                        </div>
                    </div>

                    {{ form.submit(class="primary-btn form-control mb-5") }}
                    
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}